html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0 20px 20px 20px;
}

.main_content {
  border: 5px solid black;
  width: 80%;
  margin: 2% auto;
  padding: 5% ;
  text-align:center;
}

.main_visual {
  width:50%;
  margin: 5% auto;

}

.main_visual img{
  WIDTH: 100%;
}

/*

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
*/

img {
  display: block;
  margin: 0 auto;
}


ul {
  padding-left: 25px;
}

ul,
li {
  line-height: 1.5;
  /*文の行高*/
  padding: 0.5em 0;
  /*前後の文との余白*/
  list-style-type: circle;
}
